<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cachina_Fashion_Raul.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="cn"
         connectionString="server=CHOLAHTJU\CAUSACOJUDO;database=cachina_7814;integrated security=true"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Cachina_Fashion_Raul.Properties.Settings>
            <setting name="coneccion" serializeAs="String">
                <value>CHOLAHTJU\CAUSACOJUDO</value>
            </setting>
        </Cachina_Fashion_Raul.Properties.Settings>
    </userSettings>
</configuration>